
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1>Index</h1>

<a class="btn btn-dark" href="/PdfReport/StaticPdfReport/">Rapor Al</a>
<br />
<br />
<a class="btn btn-primary" href="/PdfReport/StaticCustomerReport/">Rapor Al2</a>
<br />
<br />
<a class="btn btn-success" href="/ExcelReportsController/CustomerExcelReport/">Excel Raporu Al</a>
